.container {
    background-color: #FFF;
    padding: 30px 20px 30px 30px;
    width: 100%;
}

h2 {
    color: rgba(24, 49, 125, 0.87);
}

.row {
    padding: 20px 0px 20px 0px;
}

.container .row p {
    padding: 5px 10px 0px 10px;
    color: rgba(0, 0, 0, 0.87);
}